body{
  width: 100%;
  font-family: 'Work sans'; 
  color:white;
  text-align:justify;
  background-color: black;
}


.sidebar {
  float:left;
  width:25%;
  left: 0;
  text-align:right;
}

.index {
  float:right;
  width:75%;
  right: 0;
}


h1 {
  font-family:Lato;
  font-size: 32px;
}

h2 {
  font-family:Lato;
}
h3 {
  font-size:20px;
  font-family:Work sans;
}

p {
  font-family:Work sans;
  line-height:20px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: black;
  padding: 20px;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

}
.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Slideshow container */
.slideshow {
  max-width: 62%;
  float:right;
  left:0;
  top:40px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: 25%;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


img{
  width: 200px;
  float: left;
}

/* Split the screen in half */
.split {
  height: 85%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top:100px;
}

/* Control the right side */
.right {
  right: 0;
  margin-top:79px;
  background-color:#3B3B3B;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


